body {
  /* font-family: tahoma;
    color:#282828;
    margin: 0px;
    /* text-align: -webkit-center; */
  /* text-align: center; */
  /* background-color: #16C0B0;  */
}

.nav-bar {
  /* background: linear-gradient(-90deg, #222222, #16C0B0);
    height: 60px;
    margin-bottom: 15px; */
}

.centered {
  /* display: inline-block; */
}

.vdp-datepicker {
  position: relative;
  text-align: center !important;
}

input {
  /* width: 50%;  
    height: 25px;
    margin-bottom: 20px; */
}

.main-text {
  text-align:center;
}

#clockdiv {
  font-family: sans-serif;
  color: #fff;
  /* display: inline-block; */
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div {
  padding: 10px;
  border-radius: 3px;
  background: #00BF96;
  display: inline-block;
}

#clockdiv div > span {
  padding: 15px;
  border-radius: 3px;
  background: #00816A;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
}

.vdatetime-input {

  text-align: center;

}

.form-control {

  /* display: block; */
  width: 90%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}

input {
  max-width: 400px;
}

.expired {
  font-size: 3em;
  color: red;
  font-weight: bold;
  text-align: center;
}

.vdatetime {
  text-align: center;
}

.button-container {

  text-align: center;

}

.event-name-input-container {

  text-align: center;

}



/* all the poop overlay css */
.sky {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  /* background: #495057; */
  background: linear-gradient(180deg, #363497, #86b1e6);
  background-size: 100% 100%;
  animation: sky 50s ease infinite;
  border-radius: 5px;
}




.emoji {
  display: block;
  position: relative;
  top: -10px;
  animation: rain linear infinite;
  transform: translate3d(0, 0, 0);
}

.poo1 {
  animation-duration: 4s;
  font-size: 2em;
}

.poo2 {
  animation-duration: 5s;
  font-size: 2em;
}

.poo3 {
  animation-duration: 3s;
  font-size: 2em;
}

.poo4 {
  animation-duration: 6s;
  font-size: 2em;
}

.poo5 {
  animation-duration: 4.5s;
  font-size: 2em;
}

@keyframes rain {
  from {
    top: 0
  }

  to {
    top: 100%
  }
}

.content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -10%);
  font-family: -apple-system, sans-serif;
  font-size: 36px;
  color: rgb(255, 255, 255);
  text-shadow: 0 2px 2px rgba(0, 0, 0, .25);
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

  .smalltext {
    font-size: 8px;
  }

  #clockdiv {

    font-size: 14px;

  }

  .main-text {

    font-size: 16px;

  }

  .expired {
    font-size: 30px;
   
  }

  .vdatetime-input {

    font-size: 25px;
    text-align: center;

  }

  .poo1
  ,.poo2
  ,.poo3
  ,.poo4
  ,.poo5
  {
    font-size: 1.5em;
  }

}
